.logo {
    color: #f4511e;
    font-size: 200px;
}

#howitworks {
    background-color: #2ba6cb;

}

h2 {
   
    color:white;
}

.marginbutton{
    margin-bottom: 130px;
}

.rowfirst{
    padding-top: 100px;
}

