<!-- Container (About Section) -->
<div id="howitworks" class="container-fluid">
    <div class="row rowfirst">
        <div class="col-md-12" style="text-align:center">
          <h2>How It Works</h2>
        </div>
    </div>

    <div class="row marginbutton">
        <div class="col-md-2">
            <img src="../../assets/images/number1.png"  class="rounded logo slideanim" alt="Cinque Terre">
        </div>
        <div class="col-md-6">
          <h2>Sign Up for A Free US Address</h2><br>
          <div>
              <button type="button" class="btn btn-danger">Subscribe</button>
          </div>    
        </div>

        <div class="col-md-4">
            <img src="../../assets/images/addresslogo.jpg"  class="rounded logo slideanim" alt="Cinque Terre">
        </div>
      </div>


      <div class="row marginbutton">
          <div class="col-md-4">
              <img src="../../assets/images/shoppinglogo.png"  class="rounded logo slideanim" alt="Cinque Terre">
          </div>
          <div class="col-md-2">
              <img src="../../assets/images/number2.png"  class="rounded logo slideanim" alt="Cinque Terre">
          </div>
          <div class="col-md-6">
            <h2>Use your US address to
                shop at your favorite US retailer</h2><br>
            <div>
                <button type="button" class="btn btn-danger">Read More</button>
            </div>    
      </div>
      </div>

      <div class="row marginbutton">
          <div class="col-md-2">
              <img src="../../assets/images/number3.png"  class="rounded logo slideanim" alt="Cinque Terre">
          </div>
          <div class="col-md-5">
            <h2>We receive your packages in your
                My US Address</h2><br>
            <div>
                <button type="button" class="btn btn-danger slideanim">Read More</button>
            </div>    
          </div>
  
          <div class="col-md-4">
              <img src="../../assets/images/warehouse.jpg"  class="rounded logo slideanim" alt="Cinque Terre">
          </div>
          <div class="col-md-1"></div>
        </div>
    
        <div class="row marginbutton">
            <div class="col-md-6">
                <img src="../../assets/images/shipping.jpg"  class="rounded logo slideanim" alt="Cinque Terre">
            </div>
            <div class="col-md-2">
                <img src="../../assets/images/number4.png"  class="rounded logo slideanim" alt="Cinque Terre">
            </div>
            <div class="col-md-4">
              <h2>Consolidate and ship your packages to your
                  home address</h2><br>
              <div>
                  <button type="button" class="btn btn-danger ">Read More</button>
              </div>    
        </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <img src="../../assets/images/number5.png"  class="rounded logo slideanim" alt="Cinque Terre">
            </div>
          <div class="col-md-5">
            <h2>5 - Receive your shipment
                within a few days</h2><br>
            <div>
                <button type="button" class="btn btn-danger">Read More</button>
            </div>    
          </div>
  
          <div class="col-md-4">
              <img src="../../assets/images/happyclient.jpg"  class="rounded logo slideanim" alt="Cinque Terre">
          </div>
          <div class="col-md-1"></div>
        </div>

    
  </div>
  